
<div style="margin: 10px 0px">
<h1 class="text-center">Categorias <img src="https://freeiconshop.com/wp-content/themes/icon-shop/images/category-block-flat.jpg" width="65" /> </h1>
<router-outlet></router-outlet>
</div>
