<nav class="navbar navbar-toggleable-md navbar-light" style="background-color: #00587A;">
  <a class="navbar-brand" [routerLink]="['']" style=" color: #fff;">
    <img src="http://d13yacurqjgara.cloudfront.net/users/136211/screenshots/1071485/flat-icon-calendar.png" 
    width="40" height="40" class="d-inline-block align-top" alt="LogoAgenda"> Agenda
    </a>
    <span style="font-size:40px;cursor:pointer; position: absolute;right: 16px; bottom: 1px;color: #fff;" onclick="openNav()">&#9776;</span>
</nav>
<div id="mySidenav" class="sidenav">
  <div  *ngIf="getState()">
<!-- Navbar logout -->
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
  <a [routerLink]="['']" >Inicio</a>
  <a [routerLink]="['autenticar']" routerLinkActive="active">Iniciar Sesion</a>
  <a [routerLink]="['registrar']" routerLinkActive="active">Registrate</a>
  </div>
  <div  *ngIf="!getState()">
    <!-- Navbar login -->
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>  
    <a [routerLink]="['categorias']" routerLinkActive="active">Categorias</a>
    <a [routerLink]="['contactos']" routerLinkActive="active">Contactos</a>
    <a [routerLink]="['tareas']" routerLinkActive="active">Tareas</a>
    <a [routerLink]="['citas']" routerLinkActive="active">Citas</a>
    <a [routerLink]="['yo']" routerLinkActive="active">Mi Perfil</a>
    <a [routerLink]="['salir']" routerLinkActive="active">Cerrar Sesion</a>
  </div>
</div>