<h1 class="text-center">Contactos <img src="http://icons.iconarchive.com/icons/grafikartes/flat-retro-modern/512/contacts-icon.png" width="65"/></h1>
<div class="row justify-content-md-center">
    <div class="col-lg-8 col-md-10 col-sm-12" >
        <router-outlet ></router-outlet>
    </div>
</div>