<div class="jumbotron card card-inverse " style="background-color: #333;">
    <div class="row">
        <div class="col-8 col-lg-10 ">
            <div class="card-block" *ngIf="nombre">
                <h1 class="card-title">Hola {{nombre}}</h1>
                <h5 class="card-text">¡Tenemos mucho que agendar hoy!</h5>
                <a class="btn btn-primary" [routerLink]="['contactos']" >Vamos a los contactos</a>
            </div>
            <div class="card-block" *ngIf="!nombre">
                <h1 class="card-title">Bienvenido uwu </h1>
                <h5 class="card-text">Inicia sesion, e iniciamos con tus tareas uwu</h5>
                <a class="btn btn-primary" [routerLink]="['autenticar']" >Vamos a iniciar session</a>
            </div>
        </div>
        <div class="col-4 col-lg-2 ">
            <img src="{{imgSRC}}" width="95%" style="border-radius: 4px;" />
        </div>
    </div>
</div>

<div class="row"> 
    <div class="col-lg-9 col-sm-12 col-md-11">
            <img src="https://s3.amazonaws.com/revue/items/images/001/258/944/original/tumblr_inline_n46f1kXxnT1qa4idi.gif?1461949831" width="220" style="border-radius: 4px;"/>
            <h3>¡Pon una buena cara ante cada reto del dia!</h3>
            <blockquote>“La confianza en sí mismo es el primer secreto del éxito.” – Ralph Waldo Emerson </blockquote>
    </div>
    <div *ngIf="nombre" class=" col-lg-3 col-sm-12 col-md-11">
        <h4 class="text-center">¡Vaya!, hechemos un vistazo a que hemos hecho</h4>
        <div class="card text-center" *ngFor="let histo of _usuario.historialList">
            <div class="card-block">
                <h5 class="card-title">{{histo.descripcion}}</h5>
            </div>
            <div class="card-footer text-muted">
              <small>{{ (histo.dias > 0)? "Dentro de "+histo.dias : "Hace "+(histo.dias* -1)}} dias ({{histo.fechaFormat}} - {{histo.horaFormat}})</small>
            </div>
        </div>
    </div>
</div> 